# Virtual environments
.venv/
venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store

# VSCode
.vscode/

# Data (important for your project)
tum_pulse/data/

# Database / outputs
*.db
*.sqlite